extends ../layout

block content
  - var large_tbtc = 0.005
  - var medium_tbtc = 0.003
  - var small_tbtc = 0.001
  script.
    let btnArray =[1, 1, 1];
    window.onload = function() {
      for(let i = 0; i < btnArray.length; i++){
      setBtnValueUp(i);
      setBtnValueDown(i);
      }
    };
    function setBtnValueUp(num) {
      let btn = document.getElementById(`cde${num}`);
      btn.value = ++btnArray[num];
    }
    function setBtnValueDown(num) {
      let btn = document.getElementById(`cde${num}`);
      if(btn.value > 1)
        btn.value = --btnArray[num];
    }

  .pb-2.mt-2.mb-4.border-bottom
    h2 商品
  .row
    .col-md-4
      h2 ピザ (大)
      figure
        img(src='/images/pizza01.jpg' class='figure-img' alt='pizza' width='200' height='154')
      p.lead  1枚の値段: #{large_tbtc} tBTC
      .btn-toolbar(role='toolbar', aria-label='増減ボタン')
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          p.lead 個数
          input.btn.btn-sm.btn-outline-info#cde0
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          button.btn.btn-secondary.btn-success.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueUp(0);')#cde0 +
        .btn-group.mr-2(role='group', aria-label='1個減らす')
          button.btn.btn-secondary.btn-danger.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueDown(0);')#cde0 -
      p.lead 支払い先QRコード: mxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      p

    .col-md-4
      h2 ピザ (中)
      img(src='/images/pizza02.jpg' alt='' width='115' height='99')
      p.lead  1枚の値段: #{medium_tbtc} tBTC
      .btn-toolbar(role='toolbar', aria-label='増減ボタン')
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          p.lead 個数
          input.btn.btn-sm.btn-outline-info#cde1
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          button.btn.btn-secondary.btn-success.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueUp(1);')#cde1 +
        .btn-group.mr-2(role='group', aria-label='1個減らす')
          button.btn.btn-secondary.btn-danger.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueDown(1);')#cde1 -
      p.lead 支払い先QRコード: myyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

    .col-md-4
      h2 ピザ (小)
      img(src='/images/pizza03.jpg' alt='' width='87' height='75')
      p.lead  1枚の値段: #{small_tbtc} tBTC
      .btn-toolbar(role='toolbar', aria-label='増減ボタン')
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          p.lead 個数
          input.btn.btn-sm.btn-outline-info#cde2
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          button.btn.btn-secondary.btn-success.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueUp(2);')#cde2 +
        .btn-group.mr-2(role='group', aria-label='1個減らす')
          button.btn.btn-secondary.btn-danger.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueDown(2);')#cde2 -
      p.lead 支払い先QRコード: mzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
