extends ../layout

block content
  // script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='/js/bitcoin.js')

  .pb-2.mt-2.mb-4.border-bottom
    h2 商品
  .row
    .col-md-4.card.card-body.bg-light
      h2 ピザ (L)
      figure
        img(src='/images/pizza01.jpg' class='figure-img' alt='pizza' width='200' height='154')
      p.lead  1枚の値段: #{tbtc.price[0]} tBTC
      .btn-toolbar(role='toolbar', aria-label='増減ボタン')
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          p.lead 枚数
          input.btn.btn-sm.btn-outline-info(value=tbtc.count[0])#cde0
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          button.btn.btn-secondary.btn-success.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='putLarge(1, 0);')#cde0 +
        .btn-group.mr-2(role='group', aria-label='1個減らす')
          button.btn.btn-secondary.btn-danger.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='putLarge(-1, 0);')#cde0 -
      p.lead 支払い先QRコード
        img(src=`https://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=bitcoin:${tbtc.address[0]}?amount=${tbtc.amount[0]}`)

    .col-md-4.card.card-body.bg-light
      h2 ピザ (M)
      img(src='/images/pizza02.jpg' alt='' width='115' height='99')
      p.lead  1枚の値段: #{tbtc.price[1]} tBTC
      .btn-toolbar(role='toolbar', aria-label='増減ボタン')
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          p.lead 枚数
          input.btn.btn-sm.btn-outline-info(value=tbtc.count[1])#cde1
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          button.btn.btn-secondary.btn-success.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueUp(1);')#cde1 +
        .btn-group.mr-2(role='group', aria-label='1個減らす')
          button.btn.btn-secondary.btn-danger.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueDown(1);')#cde1 -
      p.lead 支払い先QRコード
        img(src=`https://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=bitcoin:${tbtc.address[1]}?amount=${tbtc.amount[1]}`)

    .col-md-4.card.card-body.bg-light
      h2 ピザ (S)
      img(src='/images/pizza03.jpg' alt='' width='87' height='75')
      p.lead  1枚の値段: #{tbtc.price[2]} tBTC
      .btn-toolbar(role='toolbar', aria-label='増減ボタン')
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          p.lead 枚数
          input.btn.btn-sm.btn-outline-info(value=tbtc.count[2])#cde2
        .btn-group.mr-2(role='group', aria-label='1個増やす')
          button.btn.btn-secondary.btn-success.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueUp(2);')#cde2 +
        .btn-group.mr-2(role='group', aria-label='1個減らす')
          button.btn.btn-secondary.btn-danger.rounded-circle.p-1(style='width:2rem;height:2rem;' onclick='setBtnValueDown(2);')#cde2 -
      p.lead 支払い先QRコード
        img(src=`https://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=bitcoin:${tbtc.address[2]}?amount=${tbtc.amount[2]}`)
